//web fonts  
$font-prim : 'Roboto';
$font-sec: 'sans-serif';

//images
$bg: url('../images/bg.gif');
$logo: url('../images/logo.png');
$social: url('../images/social-media.png');

//colours
$grey: #666;
$orange: #E65C43;
$white: #fff;
$darkOrange: #F25C43;
$lightGrey: #F5F6F6;
$darkGrey: #30353D;

// media queries
$large:      960px; 
$medium:     768px;
$small:      460px;