//VARIABLES
//images
// $bg: '/images/bg.gif';
// $bg2: "/src/images";
// $assetPath : "/assets/images";

//web fonts
// $font-google-prim : 'http://fonts.googleapis.com/css?family=Roboto:400,900,100';
// $font-google-sec  : 'http://fonts.googleapis.com/css?family=PT+Serif:400,700';


//colours
$grey: #666;
$orange: #E65C43;
$white: #fff;
$darkOrange: #F25C43;
$lightGrey: #F5F6F6;
$darkGrey: #30353D;
$fuckme: #def123;


// $baseurl: "{{ site.baseurl }}";